# Node.js (Server)
node_modules/
npm-debug.log*
yarn-error.log
pids/
*.pid
*.seed
*.log
*.out
.env
.env.*
!/.env.example

# React (Client)
build/
dist/
.cache/
.next/
.nuxt/
.svelte-kit/
node_modules/ # Client node_modules
npm-debug.log* # Client npm debug logs
yarn-error.log # Client yarn error logs
.DS_Store
*.swp

# IDE/Editor specific
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-* 
.vercel

# Deploy scripts (don't upload to GitHub)
deploy.sh
deploy-manual.sh
deploy-server.sh
deploy-server-files.sh
deploy-client.sh
deploy-update.sh
test-ftp.sh
